**Installing the module 'Kaggle'**

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

**Uploading the JSON File**

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"tanujp2008","key":"2cd8c6375c7a53bf6ef3ab61cd2457b1"}'}

**Creates a Directory and Uploads the JSON file to that path**

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

**Linking the Data File to the Colab**

In [ ]:
!kaggle datasets download -d tmdb/tmdb-movie-metadata

Downloading tmdb-movie-metadata.zip to /content
 56% 5.00M/8.89M [00:00<00:00, 19.2MB/s]
100% 8.89M/8.89M [00:00<00:00, 29.6MB/s]

**Listing the Files in the Path**

In [ ]:
!ls

kaggle.json  sample_data  tmdb-movie-metadata.zip

**Unzipping the Zipped File**

In [ ]:
!unzip tmdb-movie-metadata.zip

Archive:  tmdb-movie-metadata.zip
  inflating: tmdb_5000_credits.csv
  inflating: tmdb_5000_movies.csv

**Importing the Regular Modules and Reading the File**

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.read_csv("tmdb_5000_credits.csv")
df2 = pd.read_csv("tmdb_5000_movies.csv")

**Listing the Top 5 Rows in 'df1'**

In [ ]:
df1.head()

       id  ...                                               crew
0   19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1     285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3   49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4   49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

**Listing the Top 5 Rows in 'df2'**

In [ ]:
df2.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

**Merging the Datasets**

In [ ]:
df1.columns = ["id" , "title" , "cast" , "crew"]
df2 = df2.merge(df1 , on = "id")

**Demographic Filtering**

In [ ]:
c = df2["vote_average"].mean()
print(c)

6.092171559442011

In [ ]:
m = df2["vote_count"].quantile(0.9)
print(m)

1838.4000000000015

In [ ]:
q_movies = df2.copy().loc[df2['vote_count'] >= m]
print(q_movies.shape)

(481, 23)

In [ ]:
def rating(x , m = m , c = c) :
  v = x["vote_count"]
  r = x["vote_average"]

  return ((v/(v+m))*r)+((m/(v+m))*c)

q_movies["score"]  = q_movies.apply(rating , axis = 1)

In [ ]:
q_movies = q_movies.sort_values("score" , ascending = False)
q_movies.head(10)

         budget  ...     score
1881   25000000  ...  8.059258
662    63000000  ...  7.939256
65    185000000  ...  7.920020
3232    8000000  ...  7.904645
96    160000000  ...  7.863239
3337    6000000  ...  7.851236
95    165000000  ...  7.809479
809    55000000  ...  7.803188
329    94000000  ...  7.727243
1990   18000000  ...  7.697884

[10 rows x 24 columns]

In [ ]:
q_movies[['title_x', 'vote_count', 'vote_average', 'score']].head(10)

                                            title_x  ...     score
1881                       The Shawshank Redemption  ...  8.059258
662                                      Fight Club  ...  7.939256
65                                  The Dark Knight  ...  7.920020
3232                                   Pulp Fiction  ...  7.904645
96                                        Inception  ...  7.863239
3337                                  The Godfather  ...  7.851236
95                                     Interstellar  ...  7.809479
809                                    Forrest Gump  ...  7.803188
329   The Lord of the Rings: The Return of the King  ...  7.727243
1990                        The Empire Strikes Back  ...  7.697884

[10 rows x 4 columns]

In [ ]:
import plotly.express as px

fig = px.bar((q_movies.head(10).sort_values("score" , ascending = True)) , x = "score" , y = 'title_x' , orientation = "h")
fig.show()

**Content Based Filtering**

In [ ]:
from ast import literal_eval

features = ["cast" , "crew" , "keywords" , "genres"]

for feature in features :
  df2[feature] = df2[feature].apply(literal_eval)

df2.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title_x                  object
vote_average            float64
vote_count                int64
title_y                  object
cast                     object
crew                     object
dtype: object

In [ ]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

df2['director'] = df2['crew'].apply(get_director)

In [ ]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        return names
    return []

features = ['cast', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(get_list)

In [ ]:
df2[['original_title', 'cast', 'director', 'keywords', 'genres']].head(3)

                             original_title  ...                                         genres
0                                    Avatar  ...  [Action, Adventure, Fantasy, Science Fiction]
1  Pirates of the Caribbean: At World's End  ...                   [Adventure, Fantasy, Action]
2                                   Spectre  ...                     [Action, Adventure, Crime]

[3 rows x 5 columns]

In [ ]:
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

features = ['cast', 'keywords', 'director', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

In [ ]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])
df2['soup'] = df2.apply(create_soup, axis=1)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df2['soup'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [ ]:
df2 = df2.reset_index()
indices = pd.Series(df2.index, index=df2['original_title'])

In [ ]:
def get_recommendations(title, cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df2['original_title'].iloc[movie_indices]

In [ ]:
get_recommendations('Avatar', cosine_sim2)

4401                  The Helix... Loaded
1201                            Predators
1932                               Sheena
2403                               Aliens
168     Final Fantasy: The Spirits Within
539                            Titan A.E.
661            Zathura: A Space Adventure
2327                             Predator
260                          Ender's Game
495      Journey 2: The Mysterious Island
Name: original_title, dtype: object